#profile {
    height: 150px;
    width: 150px;
}

#headings {
   color: #2c3e50;
    width: 100%;
}



#img-fix {
    padding-right: 15px;
}

#stack,
#link,
#git {
    max-width: 70px;
    max-height: 70px;
    padding: 10px;
    text-align: center;
}

#social-panel {
    width: 60%;
    min-width: 250px;
    text-align: center;
    float: right;
    max-width: 380px;

}

#main-section {
min-width: 300px;
max-width: 640px;
    float: left;
    background-color: #ffffff;
    margin-bottom: 80px;
}

#links {
    text-align: right;
}

#nav {
    /*padding:0px auto;*/
    border-bottom: 2px solid #18bc93;
    padding: 0px;
    text-indent: 20px;
    padding-right: 60px;
}

#footer {
    border-top: 2px solid #18bc93;
    width: 100%;
    font-size: 10px;
    /*height: -100px;*/
}

#footerFix {
    text-align: center;
    width: 100%;
}

body {
    background: url("confectionary.png");
}

#page {
    margin-top: 190px;
    margin-bottom: 80px;
}

#header {
    text-indent: 60px;
}
/*contact styling*/
#main-section2  {
    max-width: 600px;
margin-right: 150px;
    float: left;
    background-color: #ffffff;
    margin-bottom: 80px;
    padding-left: 20px;
padding-bottom: 20px;
padding-right: 20px;
}
#social-panel-contact  {
  width: 100%;
     min-width: 250px;
     text-align: center;
     margin-left: 40px;
    
}

#images-left  {
    height: 227px;
    width: 237px;
     padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    
}#images-right  {
     height: 227px;
    width: 237px;
     padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
}
#rps-img  {
    height:227px;
    width: 237px;
    padding-top: 10px;
    margin-left: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
}
#para-fix  {
    padding-left: 10px;
    margin-left: 10px;
   height: 227px;
   width: 237px;
}
/*portfolio styling*/
