#profile {
    height: 150px;
    width: 150px;
}

#headings {
    color: #2c3e50;
    width: 100%;
}

#img-fix {
    padding-right: 15px;
}

#stack,
#link,
#git,
#facebook {
    max-width: 70px;
    max-height: 70px;
    padding: 10px;
    text-align: center;
}

#social-panel {
    width: 60%;
    min-width: 250px;
    text-align: center;
    float: right;
    max-width: 380px;
}

#main-section {
    min-width: 3
    #00px;
    max-width: 640px;
    float: left;
    background-color: #ffffff;
    margin-bottom: 80px;
}

#links {
    text-align: right;
}

#nav {
    /*padding:0px auto;*/
    border-bottom: 2px solid #18bc93;
    padding: 0px;
    
}

#footer {
    border-top: 2px solid #18bc93;
    width: 100%;
    font-size: 10px;
    /*height: -100px;*/
}

#footerFix {
    text-align: center;
    width: 100%;
}

body {
    background: url("../confectionary.png");
}

#page {
    margin-top: 190px;
    margin-bottom: 80px;
}

#header {
    text-indent: 60px;
}


/*contact_styling*/

#main-section2 {
    max-width: 600px;
    margin-right: 150px;
    float: left;
    background-color: #ffffff;
    margin-bottom: 80px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

#social-panel-contact {
    width: 100%;
    min-width: 250px;
    text-align: center;
    margin-left: 80px;
}


    .thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 75%;
    left: 0px;
   width: 190px;
   text-align: center;
   
}
#images-left,
#images-right  {
    height: 190px;
    width: 190px;

}

/*portfolio styling*/
#main-section-port  {
    min-width: 300px;
    max-width: 640px;
    float: left;
    background-color: #ffffff;
    margin-bottom: 80px;
}
#social-panel-port  {
      width: 100%;
    min-width: 250px;
    text-align: center;
    float: right;
   
    margin-right: 50px;
}
#link-port,
#git-port,
#stack-port  {
    max-width: 70px;
    max-height: 70px;
    padding: 10px;
    text-align: center;
}
#confirmMessage {
    /*margin-right: 50px;*/
    margin-left: 100px;

}
/*---------NAV_START----------*/
.navbar-custom {
  background-color: #fff;
}

#logo {
  height: 60px;
  margin-left: 70px;
  padding-top: 20px;
  padding-bottom: 5px;
  background: #4aaaa5;
  font-size: 24px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: #fff;
}

.navbar-right-custom {
  padding-top: 6px;
  padding-right: 20px;
  font-family: Arial;
  font-weight: lighter;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #4aaaa5;
}

/*--------NAV_END----------*/
/*---------NAV_START----------*/
.navbar-custom {
  background-color: #fff;
}

#logo {
  height: 60px;
  margin-left: 70px;
  padding-top: 20px;
  padding-bottom: 5px;  {

  }
  background: #4aaaa5;
  font-size: 24px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: #fff;
}

.navbar-right-custom {
  padding-top: 6px;
  padding-right: 20px;
  font-family: Arial;
  font-weight: lighter;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #4aaaa5;
}

/*--------NAV_END----------*/

/*-----------SOCIAL_PANEL_FOOTER*/
#social-panel-footer  {
  padding: 10px;

}

#facebook-button  {
  position: absolute;
  left:100px;
}

#footer-button-container  {
  align-content: center;
}